* {
  box-sizing: border-box;
}

body {

  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: $mqMaxWidth;
  margin: auto;
  padding: 2rem;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: $bg;
  color: $corporate;
}

.festival-header {
  z-index: 9999;
  display: grid;
  grid-template-columns: auto 1fr;
}

.festival-header__logo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  height: auto;
  font-size: smaller;

  @media (min-width: $mqMinWidth) {
    max-width: 100%;
  }
}

.festival-header__menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  list-style: none;
}

.festival-header__item {
  color: $corporate;
  text-decoration: none;
  font-weight: 700;

  &:hover {
    color: black;
  }
}

.container {
  max-width: $mqMaxWidth;
  margin: auto;
  display: grid;
  grid-template-areas:  "titlejazz picture titlefestival"
                        "blues picture jazz"
                        "bluesquartet picture jazzquartet"
                        "live picture music";
  
  row-gap: 1rem;
  padding: 6rem;
  border-radius: 2rem;
  text-align: center;
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(253,253,251,1) 50%, #f6e9d6 100%);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.container__picture {
  grid-area: picture;
  margin: auto;
}

.container__h1-jazz {
  grid-area: titlejazz;
  transform: rotate(45deg);
}

.container__h1-festival {
  grid-area: titlefestival;
  transform: rotate(-45deg);
}

.container__h2-blues {
  grid-area: blues;
  transform: rotate(30deg);
}

.container__h2-bluesquartet {
  grid-area: bluesquartet;
  transform: rotate(-15deg);
}

.container__h2-jazz {
  grid-area: jazz;
  transform: rotate(-30deg);
}

.container__h2-jazzquartet {
  grid-area: jazzquartet;
  transform: rotate(15deg);
}

.container__h4-live {
  grid-area: live;
  transform: rotate(-25deg);
  letter-spacing: 1rem;
}

.container__h4-music {
  grid-area: music;
  transform: rotate(25deg);
  letter-spacing: 1rem;

}

.container__h1 {
  font-family: $font-family-serif;
  font-size: 3rem;
  font-weight: 800;
  color: $corporate;
  border-radius: 2rem;
  padding: 2rem;
  background-color: #e6c376;
  border: 1px solid #b91b0b;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);

  @media (min-width: $mqMinWidth) {
    /* font-size: 36px; */
  }
}

.container__h2 {
  font-family: $font-family-sans-serif;
  font-size: 3rem;
  font-weight: 800;
  color: $corporate;
  border-radius: 2rem;
  background-color: #e4a321;
  border: 1px solid #b91b0b;
  margin: 2rem;
  padding: 3rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);

  @media (min-width: $mqMinWidth) {
    /* font-size: 36px; */
  }
}

.container__h4 {
  font-family: $font-family-sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: $corporate;
  background-color: #000;
  border: 1px solid #e8e8e8;
  border-radius: 2rem;
  margin: 2rem;
  padding: 3rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);


  @media (min-width: $mqMinWidth) {
    /* font-size: 36px; */
  }
}

.newsletter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  margin-top: 2rem;
}

.newsletter__email{
  text-align: right;
}

.newsletter__input {
  padding: .75rem;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
}

.festival-footer {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: auto 3fr 1fr;
  z-index: 9999;
  text-align: center;
}

.festival-footer__menu {
  list-style: none;
  display: grid;
  grid-template-columns: repeat( 4, 1fr );
  text-align: center;
}

.festival-footer__item {
  color: $corporate;
  text-decoration: none;
  font-weight: 700;

  &:hover {
    color: black;
  }
}

.festival-footer__social {
  list-style: none;
  display: grid;
  grid-template-columns: repeat( 3, 1fr );
  text-align: center;
}

.container-flex {
  max-width: $mqMaxWidth;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.container-flex__card {

  background-color: #e4a321;
  border: 2px solid $corporate;
  width: calc( $mqMaxWidth/2 - 6rem );
  padding: 6rem;
  border-radius: 2rem;
  margin: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.container-flex__content {
  text-decoration: underline;
  
  &:hover {
    cursor: pointer;
  }
}
