.container{

  @media (max-width: $mqminwidth) {
    padding: 0;
  }
}
.container--flex {
  max-width: $mqmaxwidth;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.container-flex__card {
  background-color: #e4a321;
  border: 2px solid $corporate;
  width: calc( $mqmaxwidth / 2 - 6rem );
  padding: 6rem;
  border-radius: 2rem;
  margin: 10px;
  box-shadow: 0 4px 6px -1px rgba( 0, 0, 0, 0.1 ), 0 2px 4px -1px rgba( 0, 0, 0, 0.06 );
}

.container-flex__detail {
  font-weight: 800;

  &:hover {
    color: #000000;
    cursor: pointer;
  }
}

.container-flex__content {
  text-decoration: none;
  
}

.container-flex__p {
  text-align: left;
  text-decoration: none;
}