<footer class="festival-footer">

    <picture class="festival-footer__logo">
      <source srcset="./assets/images/logo.jpg?as=webp&width=50" type="image/webp">
      <img src="./assets/images/logo.jpg?width=50" alt="Festival JAZZ" class="yamaha-trumpet" />
        <figcaption>CC0 Domaine public
  
      Gratuit pour un usage personnel et commercial</figcaption>
    </picture>
    <ul class="festival-footer__menu">
      <li><a class="festival-footer__item" href="">Main</a></li>
      <li><a class="festival-footer__item" href="">Page Two</a></li>
      <li><a class="festival-footer__item" href="">Page three</a></li>
      <li><a class="festival-footer__item" href="">Page four</a></li>
    </ul>
    <ul class="festival-footer__social">
      <li><a class="festival-footer__item" href="">G+</a></li>
      <li><a class="festival-footer__item" href="">Facebook</a></li>
      <li><a class="festival-footer__item" href="">Twitter</a></li>
    </ul>

</footer>