<footer class="festival-footer">

    <picture class="festival-footer__logo">
      <source srcset="./assets/images/logo.jpg?as=webp&width=50" type="image/webp">
      <img src="./assets/images/logo.jpg?width=50" alt="Festival JAZZ" class="yamaha-trumpet" />
    <figcaption>CC0 Domaine public
  
      Gratuit pour un usage personnel et commercial</figcaption>
    </picture>
    <ul>
      <li>Main</li>
      <li>Page Two</li>
      <li>Page three</li>
      <li>Page four</li>
    </ul>
    <ul>
      <li>G+</li>
      <li>Facebook</li>
      <li>Twitter</li>
    </ul>

</footer>