<footer class="festival-footer">

    <picture class="festival-footer__logo">
      <source srcset="./assets/images/logo.transparente.png?as=webp&width=50" type="image/webp">
      <img src="./assets/images/logo.transparente.png?width=50" alt="Festival JAZZ" class="yamaha-trumpet" title="CC0 Domaine public Gratuit pour un usage personnel et commercial"/>
    </picture>

    <ul class="festival-footer__menu">
      <li><a href="./index.html" class="festival-header__item" href="">Main</a></li>
      <li><a href="./page-two.html" class="festival-header__item" href="">Page Two</a></li>
      <li><a href="./page-three.html" class="festival-header__item" href="">Page three</a></li>
      <li><a href="./page-four.html" class="festival-header__item" href="">Page four</a></li>
    </ul>

    <ul class="festival-footer__social">
      <li><a class="festival-footer__item" href="" title="go to Google Plus"><i class="fa-brands fa-square-google-plus"></i></a></li>
      <li><a class="festival-footer__item" href="" title="go to Facebook"><i class="fa-brands fa-square-facebook"></i></a></li>
      <li><a class="festival-footer__item" href="" title="go to Twitter"><i class="fa-brands fa-square-twitter"></i></a></li>
    </ul>

</footer>