<header class="festival-header">

  <picture class="festival-header__logo">
    <source srcset="./assets/images/logo.transparente.png?as=webp&width=75" type="image/webp">
    <img src="./assets/images/logo.transparente.png?width=75" alt="Festival JAZZ" class="yamaha-trumpet" title="CC0 Domaine public Gratuit pour un usage personnel et commercial"/>
  </picture>

  <nav>
    <ul class="festival-header__menu">
      <li><a href="./index.html" class="festival-header__item" href="">Home</a></li>
      <li><a href="./page-two.html" class="festival-header__item" href="">Members</a></li>
      <li><a href="./page-three.html" class="festival-header__item" href="">Bio</a></li>
      <li><a href="./page-four.html" class="festival-header__item" href="">Contact</a></li>
    </ul>
  </nav>
  
</header>