<header class="festival-header">

  <nav class="festival-header__nav">

    <picture class="festival-header__logo">
      <source srcset="./assets/images/logo.jpg?as=webp&width=75" type="image/webp">
      <img src="./assets/images/logo.jpg?width=75" alt="Festival JAZZ" class="yamaha-trumpet" />
      <figcaption>CC0 Domaine public
      Gratuit pour un usage personnel et commercial</figcaption>
    </picture>

    <ul class="festival-header__menu">
      <li><a class="festival-header__item" href="">Main</a></li>
      <li><a class="festival-header__item" href="">Page Two</a></li>
      <li><a class="festival-header__item" href="">Page three</a></li>
      <li><a class="festival-header__item" href="">Page four</a></li>
    </ul>
    
  </nav>
  
</header>